@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&family=Noto+Sans&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box ;
   font-family: 'Noto Naskh Arabic', serif;
 font-family: 'Noto Sans', sans-serif;
}

body{
    background:black;
}

.app{
    background:black;
    width:90%;
    max-width:600px;
    margin:100px auto 0;
    border-radius:10px;
    padding:30px;
    border:2px solid lime;
    box-shadow:0px 0px 5px lime;
}

.app h1{
    font-size:25px;
    font-weight:600;
    color:lime;
    border-bottom:1px solid lime;
    padding-bottom:10px;
}

.quiz{
    padding:20px 0;
}

.quiz h2{
    font-size:18px;
    font-weight:600;
    color:lime;
}

.btn{
    background:black;
    color:lime;
    font-weight:500;
    width:100%;
    padding:10px;
    border:1px solid lime;
    margin:10px 0;
    text-align:left;
    border-radius:4px;
    cursor:pointer ;
    transition:all 0.3s;
}

.btn:hover:not([disabled]);{
    background:green;
    color:white;
}

.btn:disabled{
    cursor:no-drop;
}

#next-btn{
    background:lime;
    color:white;
    font-weight:500;
    width:150px;
    border:0;
    border-radius:4px;
    padding:10px;
    margin:20px auto 0;
    cursor:pointer ;
    display:none;
}

.correct{
    background:lime;
    color:white;
}

.incorrect{
    background:red;
}
